.cookie {
    --_cookie_banner_offset: 2em;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 2em;
    box-shadow: 0 0 1rem rgba(21, 21, 21, 0.1);
    position: fixed;
    // display: block;
    flex-wrap: wrap;
    display: none;
    z-index: 999999999999999;

    // Banner content
    .title {
        font-size: 2em;
        margin-bottom: 0.5em;
        display: block;
    }
    
    .text{
        margin-left: .5em;
    }

    p {
        font-size: 1em;
    }

    .buttons {
        display: flex;
        gap: 1em;
        margin-top: 1.5em;

        a {
            text-decoration: none;
            border-bottom: none;

            &.accept {
                background-color: var(--primary-color, #000000);
                color: var(--color-text-primary, #ffffff);
                padding: 1em 1.5em;
                border-radius: 2em;
                transition: 0.2s;

                &:hover {
                    background-color: var(--color-primary-dark, #292929);
                    color: var(--color-text-primary, #ffffff);
                }
            }

            &.decline {
                color: #1e1e1e;
                padding: 1em 1.5em;
                border-radius: 2em;
                transition: 0.2s;

                &:hover {
                    background-color: #e1e1e1;
                    color: #1e1e1e;
                }
            }

            &:hover {
                border-bottom: none;
            }
        }
    }


    // Banner position
    &.banner-right_bottom {
        padding: var(--_cookie_banner_offset);
        right: var(--_cookie_banner_offset);
        bottom: var(--_cookie_banner_offset);
        max-width: 20em;
    }

    &.banner-left_bottom {
        padding: var(--_cookie_banner_offset);
        left: var(--_cookie_banner_offset);
        bottom: var(--_cookie_banner_offset);
        max-width: 20em;
    }

    &.banner-left_top {
        padding: var(--_cookie_banner_offset);
        left: var(--_cookie_banner_offset);
        top: var(--_cookie_banner_offset);
        max-width: 20em;
    }

    &.banner-right_top {
        padding: var(--_cookie_banner_offset);
        right: var(--_cookie_banner_offset);
        top: var(--_cookie_banner_offset);
        max-width: 20em;
    }

    &.bar-bottom {
        padding: .5em;
        bottom: var(--_cookie_banner_offset);
        left: var(--_cookie_banner_offset);
        right: var(--_cookie_banner_offset);
        color: #1e1e1e;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        .buttons{
            margin: unset;
        }

        .title{
            display: none;
        }
    }
}